.head{
    background: gray;
    border: 3px solid gray;
    font-family: 'Noto Serif', serif;
    color: honeydew;
    text-align: center;
    margin: 10px 20px 10px 20px;
}
.preface{
    background: black;
    border: 50px solid black;
    font-family: 'Recursive', sans-serif;
    color: yellow;
    text-align: center;
    margin: 20px 50px 0px 50px;
}
.last-text{
    background: black;
    border: 50px solid black;
    font-family: 'Recursive', sans-serif;
    color: yellow;
    text-align: center;
    margin: 0px 50px 50px 50px;
}
/* 2nd style */
.head2{
    background: #4b0082;
    border: 3px solid #4b0082;
    font-family: 'Noto Serif', serif;
    color: #FFCC00;
    text-align: center;
    margin: 10px 20px 10px 20px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFCC;
    border-radius: 4px;
    box-shadow: 0, 5px, 15px, rgba(0, 0, 0, 5);
    display: flex;
}
.box .imageBx1{
    width: 1000px;
    flex: 0,0,1000px;
}
.box .imageBx1 img{
    max-width: 200%;
}
.box .story1{
    padding-left: 150px;
}
.box .story1 h2{
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding-left: 0;
    color: #4b0082;
}
.box .story1 h4{
    margin: 0;
    margin-top: 20px;
    padding: 10px, 0, 0;
    color: #CC66CC;
    text-align: justify;
}
.box .story1 a{
    margin: 0;
    margin-top: 50px;
    padding: 10px, 0, 0;
    color: #FF9999;
    text-align: justify;
}
.box .story1 p{
    margin: 0;
    padding: 10px, 0, 0;
    color: #FF9999;
    text-align: justify;
}

/* 3nd style */
.head3{
    background: #B8860B;
    border: 3px solid #B8860B;
    font-family: 'Noto Serif', serif;
    color: black;
    text-align: center;
    margin: 10px 20px 10px 20px;
}
.box2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    background: #696969;
    border-radius: 4px;
    box-shadow: 0, 5px, 15px, rgba(0, 0, 0, 5);
    display: flex;
}
.box2, .imageBx2{
    width: 1000px;
    flex: 0,0,1000px;
}
.box2, .imageBx2 img{
    max-width: 200%;
}
.box2 .story2{
    padding-left: 150px;
}
.box2 .story2 h2{
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding-left: 0;
    color: black;
}
.box2 .story2 h4{
    margin: 0;
    margin-top: 20px;
    padding: 10px, 0, 0;
    color: whitesmoke;
    text-align: justify;
}
.box .story1 a{
    margin: 0;
    margin-top: 50px;
    padding: 10px, 0, 0;
    color: gray;
    text-align: justify;
}
.box .story1 p{
    margin: 0;
    padding: 10px, 0, 0;
    color: gray;
    text-align: justify;
}

/* 4nd style */
.head4{
    background: #CD5C5C;
    border: 3px solid #CD5C5C;
    font-family: 'Noto Serif', serif;
    color: honeydew;
    text-align: center;
    margin: 10px 20px 10px 20px;
}
.thead-dark{
    background: #FF9999;
}